<extend name='Public:site' />
<block name='main'>
<!---------------------------------内页导航--------------------------------------->
<div class="insideTitle">
    <div class="container">
    	<div class="title">
        	<span>案例&体验</span>
        	<span>Case & Experience</span>
        </div>
        <div class="sideBox clearfix">
            <ul class="insideMenu clearfix">
            	<li><a href="#">案例&体验</a></li>
            	<li><a href="#">经典案例</a></li>
            </ul>
            <div class="borderTop"></div>
        </div>
    </div>
</div>
<!---------------------------------内页导航---end------------------------------------>
<!-------------------------------header----end---------------------------------------->
<!-------------------------------container-------------------------------------------->
<div class="container">
	<div class="classicCase">
    	<div class="caseTil">全部案例</div>
        <ul class="clearfix">
        	<li>
            	<a href="#">
            		<img class="caseMb" src="__PUBLIC__/site/img/201112236855331272.jpg">
                    <div class="caseMes">
                    	<div class="caseN"><img src="__PUBLIC__/site/img/20140217145003-0889-12944.jpg">正泰电工</div>
                        <div class="caseP">正泰电工网站开发
                        	<br/>
                            <s>原价：2000元</s>
                        	<span>现价：￥500元</span>
                        </div>
                    </div>
            	</a>
            </li>
           <li>
            	<a href="#">
            		<img class="caseMb" src="__PUBLIC__/site/img/201112236855331272.jpg">
                    <div class="caseMes">
                    	<div class="caseN"><img src="__PUBLIC__/site/img/20140217145003-0889-12944.jpg">正泰电工</div>
                        <div class="caseP">正泰电工网站开发
                        	<br/>
                            <s>原价：2000元</s>
                        	<span>现价：￥500元</span>
                        </div>
                    </div>
            	</a>
            </li>
            <li>
            	<a href="#">
            		<img class="caseMb" src="__PUBLIC__/site/img/201112236855331272.jpg">
                    <div class="caseMes">
                    	<div class="caseN"><img src="__PUBLIC__/site/img/20140217145003-0889-12944.jpg">正泰电工</div>
                        <div class="caseP">正泰电工网站开发
                        	<br/>
                            <s>原价：2000元</s>
                        	<span>现价：￥500元</span>
                        </div>
                    </div>
            	</a>
            </li>
            <li>
            	<a href="#">
            		<img class="caseMb" src="__PUBLIC__/site/img/201112236855331272.jpg">
                    <div class="caseMes">
                    	<div class="caseN"><img src="__PUBLIC__/site/img/20140217145003-0889-12944.jpg">正泰电工</div>
                        <div class="caseP">正泰电工网站开发
                        	<br/>
                            <s>原价：2000元</s>
                        	<span>现价：￥500元</span>
                        </div>
                    </div>
            	</a>
            </li>
            <li>
            	<a href="#">
            		<img class="caseMb" src="__PUBLIC__/site/img/201112236855331272.jpg">
                    <div class="caseMes">
                    	<div class="caseN"><img src="__PUBLIC__/site/img/20140217145003-0889-12944.jpg">正泰电工</div>
                        <div class="caseP">正泰电工网站开发
                        	<br/>
                            <s>原价：2000元</s>
                        	<span>现价：￥500元</span>
                        </div>
                    </div>
            	</a>
            </li>
            <li>
            	<a href="#">
            		<img class="caseMb" src="__PUBLIC__/site/img/201112236855331272.jpg">
                    <div class="caseMes">
                    	<div class="caseN"><img src="__PUBLIC__/site/img/20140217145003-0889-12944.jpg">正泰电工</div>
                        <div class="caseP">正泰电工网站开发
                        	<br/>
                            <s>原价：2000元</s>
                        	<span>现价：￥500元</span>
                        </div>
                    </div>
            	</a>
            </li>
            <li>
            	<a href="#">
            		<img class="caseMb" src="__PUBLIC__/site/img/201112236855331272.jpg">
                    <div class="caseMes">
                    	<div class="caseN"><img src="__PUBLIC__/site/img/20140217145003-0889-12944.jpg">正泰电工</div>
                        <div class="caseP">正泰电工网站开发
                        	<br/>
                            <s>原价：2000元</s>
                        	<span>现价：￥500元</span>
                        </div>
                    </div>
            	</a>
            </li>
            <li>
            	<a href="#">
            		<img class="caseMb" src="__PUBLIC__/site/img/201112236855331272.jpg">
                    <div class="caseMes">
                    	<div class="caseN"><img src="__PUBLIC__/site/img/20140217145003-0889-12944.jpg">正泰电工</div>
                        <div class="caseP">正泰电工网站开发
                        	<br/>
                            <s>原价：2000元</s>
                        	<span>现价：￥500元</span>
                        </div>
                    </div>
            	</a>
            </li>
            <li>
            	<a href="#">
            		<img class="caseMb" src="__PUBLIC__/site/img/201112236855331272.jpg">
                    <div class="caseMes">
                    	<div class="caseN"><img src="__PUBLIC__/site/img/20140217145003-0889-12944.jpg">正泰电工</div>
                        <div class="caseP">正泰电工网站开发
                        	<br/>
                            <s>原价：2000元</s>
                        	<span>现价：￥500元</span>
                        </div>
                    </div>
            	</a>
            </li>
            <li>
            	<a href="#">
            		<img class="caseMb" src="__PUBLIC__/site/img/201112236855331272.jpg">
                    <div class="caseMes">
                    	<div class="caseN"><img src="__PUBLIC__/site/img/20140217145003-0889-12944.jpg">正泰电工</div>
                        <div class="caseP">正泰电工网站开发
                        	<br/>
                            <s>原价：2000元</s>
                        	<span>现价：￥500元</span>
                        </div>
                    </div>
            	</a>
            </li>
            <li>
            	<a href="#">
            		<img class="caseMb" src="__PUBLIC__/site/img/201112236855331272.jpg">
                    <div class="caseMes">
                    	<div class="caseN"><img src="__PUBLIC__/site/img/20140217145003-0889-12944.jpg">正泰电工</div>
                        <div class="caseP">正泰电工网站开发
                        	<br/>
                            <s>原价：2000元</s>
                        	<span>现价：￥500元</span>
                        </div>
                    </div>
            	</a>
            </li>
            <li>
            	<a href="#">
            		<img class="caseMb" src="__PUBLIC__/site/img/201112236855331272.jpg">
                    <div class="caseMes">
                    	<div class="caseN"><img src="__PUBLIC__/site/img/20140217145003-0889-12944.jpg">正泰电工</div>
                        <div class="caseP">正泰电工网站开发
                        	<br/>
                            <s>原价：2000元</s>
                        	<span>现价：￥500元</span>
                        </div>
                    </div>
            	</a>
            </li>
        </ul>
        <div class="paging clearfix">
        	<span>共<i>592个</i>&nbsp;&nbsp;每页<i>20</i>个&nbsp;&nbsp;页次：<i>1</i>/30</span>
        	<a class="pageA" href="#">上一页</a>
            <a class="pageA" href="#">下一页</a>
            <input type="text" />
            <a class="pageA" href="#">GO</a>
        </div>
    </div>
</div>
<!-------------------------------container--end------------------------------------------>

</block>
<block name='javascript'>
<script>
$(function(){
$.headerMove(300);
$.insideMove(1);
$('.classicCase li').hover(
	function(){
		$(this).children('a').children('.caseMes').stop().animate({bottom:'0'},200);
		},
	function(){
		$(this).children('a').children('.caseMes').stop().animate({bottom:'-68px'},200);
		})
})
</script>
</block>
