<extend name='Public:site' />
<block name='main'>
<!---------------------------------内页导航--------------------------------------->
<div class="insideTitle">
    <div class="container">
    	<div class="title">
        	<span>网站托管</span>
        	<span>website</span>
        </div>
        <div class="sideBox clearfix">
            <ul class="insideMenu clearfix">
                <li><a href="__URL__/index">网站定制</a></li>
            	<li><a href="__URL__/index">网站托管</a></li>
            </ul>
            <div class="borderTop"></div>
        </div>
    </div>
</div>
<!---------------------------------内页导航---end------------------------------------>
<!-------------------------------------header--end---------------------------------------------->
<!-------------------------------container-------------------------------------------->
<div class=container>
	<div class="deposit">
    	<div class="problem">
        	<p class="text01"><span>在<b>网站运营</b>过程中</span><br/>您曾有过以下困惑么？</p>
            <ul>
            	<li>没精力，没时间</li>
                <li>找不到团队，人员流失</li>
                <li>周期长，走弯路，没效果</li>
                <li>营销成本高，推广技术停止落后</li>
            </ul>
        </div>
        <div class="title">泡椒科技————网站运营服务商，拿效果说话</div>
        <div class="start clearfix">
            <div class="left pull-left">
            	<img src="__PUBLIC__/site/img/deposit_start.jpg">
            </div>
            <div class="right pull-left">
            	<div class="start_now clearfix">
					<a href="#" class="start_btn"></a>
                    <p><span><b>三个月</b>让您的</span><br/><span>网络营销<b>即可启动</b></span></p>   
                </div>
                <ul>
                	<li class="clearfix">
                    	<span>短</span>
                        <span>周期短，节约时间成本</span>
                    </li>
                    <li class="clearfix">
                    	<span>平</span>
                        <span>效果好，而且持续平稳</span>
                    </li>
                    <li class="clearfix">
                    	<span>快</span>
                        <span>见效快速，大量客户网站运营<br/>第一天接到询盘</span>
                    </li>
                </ul>         
            </div>
        </div>
        <div class="title">泡椒科技————网站运营服务商，拿效果说话</div>
        <div class="project clearfix">
        	<div class="left pull-left clearfix">
            	<div class="left_top clearfix">
                    <div class="fixed pull-left">
                        <div class="project_title clearfix">
                            <img src="__PUBLIC__/site/img/project_01.png">
                            <span>定位</span>
                        </div>
                        <div class="desc">单人咨询专家为您提供</div>
                        <ul class="detail">
                            <li>盈利模式定位</li>
                            <li>目标客户定位</li>
                            <li>核心产品定位</li>
                            <li>核心竞争力定位</li>
                            <li>品牌差异定位</li>
                            <li>关键词定位</li>
                        </ul>
                    </div>
                    <div class="jianzhan pull-left">
                        <div class="project_title clearfix">
                            <img src="__PUBLIC__/site/img/project_02.png">
                            <span>建站</span>
                        </div>
                        <ul class="detail">
                            <li>价值39800元的高级营销型网站一个</li>
                            <li>由项目总监亲自策划</li>
                            <li>高级设计师担当设计</li>
                            <li>万网G1空间一个</li>
                            <li>.com域名一个</li>
                            <li>Talk99使用一年</li>
                        </ul>
                    </div>
                </div>
                <div class="left_bottom clearfix">
                    <div class="paojiao pull-left"><img src="__PUBLIC__/site/img/project_pj.png"></div>
                    <div class="train pull-left">
                    	<div class="project_title clearfix">
                            <img src="__PUBLIC__/site/img/project_04.png">
                            <span>培训</span>
                        </div>
                    	<ul class="detail">
                            <li>客服主管培训</li>
                            <li>Talk99操作培训</li>
                            <li>营销型网站后台培训</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right pull-left">
            	<div class="project_title clearfix">
                    <img src="__PUBLIC__/site/img/project_03.png">
                    <span>推广</span>
                </div>
                <div class="desc">百度自然排名</div>
                <ul class="detail">
                    <li>15个精准关键词排名首页</li>
                    <li>定制关键词筛选表格</li>
                    <li>45篇高端新闻稿发布</li>
                    <li>45篇高质量的站内更新</li>
                    <li>15篇关键词转换页撰写</li>
                </ul>
                <div class="desc">百度竞价推广</div>
                <ul class="detail">
                    <li>1000个以上的优质关键词</li>
                    <li>5个以上计划，15个以上的单元</li>
                    <li>45条以上的创意</li>
                    <li>8个百度优惠页面设计</li>
                    <li>10个百度附加创意</li>
                </ul>
            </div>
        </div>
        <div class="title">泡椒科技————网站运营服务商，拿效果说话</div>
        <div class="advantage clearfix">
        	<div class="items">
            	<div class="sheng">省心</div>
                <div class="sheng_detail">定位、建站、推广、培训<br/><span>全程服务</span></div>
            </div>
            <div class="items">
            	<div class="sheng">省钱</div>
                <div class="sheng_detail">人工、办公、管理、培训<br/><span>"0"成本，低投入安心90天</span></div>
            </div>
            <div class="items">
            	<div class="sheng">专业</div>
                <div class="sheng_detail">单人咨询、牛商网专门研发团队，<span>实时研究最新技术</span></div>
            </div>
            <div class="items">
            	<div class="sheng">高效</div>
                <div class="sheng_detail">为你打造最佳方案，<span>3个月内，获得大量网络询盘</span></div>
            </div>
            <div class="items" style="margin:0;">
            	<div class="sheng">可靠</div>
                <div class="sheng_detail"><span>近百位</span>技术精英为您服务</div>
            </div>
        </div>
        <div class="compute clearfix">
        	<div class="compute_title clearfix">
            	<span><img src="__PUBLIC__/site/img/compute.png"></span>
                <span>不算不知道</span>
                <span>一算吓一跳</span>
                <i>企业独立运营网站一个月的费用</i>
            </div>
            <div class="left pull-left">
            	<ul>
                	<li class="clearfix">
                    	<span>一个季度工资</span>
                        <span>49500</span>
                    </li>
                    <li class="clearfix">
                    	<span>网站营销定位</span>
                        <span>5000</span>
                    </li>
                    <li class="clearfix">
                    	<span>营销网站一个</span>
                        <span>39800</span>
                    </li>
                    <li class="clearfix">
                    	<span>关键词表格</span>
                        <span>5000</span>
                    </li>
                    <li class="clearfix">
                    	<span>TALK99三个坐席</span>
                        <span>3090</span>
                    </li>
                    <li class="clearfix">
                    	<span>G1空间1年时间</span>
                        <span>1980</span>
                    </li>
                    <li class="clearfix">
                    	<span>.com国际域名</span>
                        <span>139</span>
                    </li>
                    <li class="clearfix">
                    	<span>高端软文发布</span>
                        <span>11700</span>
                    </li>
                    <li class="clearfix">
                    	<span>客服系统搭建、培训</span>
                        <span>5000</span>
                    </li>
                    <li class="clearfix">
                    	<span>关键词转换页</span>
                        <span>30000</span>
                    </li>
                    <li class="clearfix">
                    	<span>合计</span>
                        <span>151209</span>
                    </li>
                </ul>
            </div>
            <div class="middle_shadow pull-left"><img src="__PUBLIC__/site/img/middle_shadow.png"></div>
            <div class="right pull-left">
            	<ul>
                	<li class="clearfix">
                    	<span>岗位名</span>
                        <span>工资</span>
                    </li>
                    <li class="clearfix">
                    	<span>SEO</span>
                        <span>5000</span>
                    </li>
                    <li class="clearfix">
                    	<span>竞价</span>
                        <span>3500</span>
                    </li>
                    <li class="clearfix">
                    	<span>编辑</span>
                        <span>3500</span>
                    </li>
                    <li class="clearfix">
                    	<span>设计师</span>
                        <span>4500</span>
                    </li>
                    <li class="clearfix">
                    	<span>每月工资合计</span>
                        <span>16500</span>
                    </li>
                </ul>
                <div class="remark">
                	<div>备注</div>
                    <div>以上成本不包括<span>招聘成本培训成本、管理成本、时间成本</span>等</div>
                </div>
            </div>
        </div>
        <div class="title">
        	<span style="margin-left:170px;">选择泡椒————选择省心、放心、安心</span>
        	<input id="click_consult" class="zixun btn-success btn" type="button" value="点击咨询"/>
        </div>
	</div>
</div>
</block>
<block name='javascript'>
<script>
$(function(){
$.headerMove(300);
$.insideMove(1);
});
</script>
</block>

