<extend name='Public:site' />
<block name='main'>
<!---------------------------------内页导航--------------------------------------->
<div class="insideTitle">
    <div class="container">
    	<div class="title">
        	<span>网站定制</span>
        	<span>Website custom</span>
        </div>
        <div class="sideBox clearfix">
            <ul class="insideMenu clearfix">
            	<li><a href="__URL__/index">网站定制</a></li>

            </ul>
            <div class="borderTop"></div>
        </div>
    </div>
</div>
<!---------------------------------内页导航---end------------------------------------>
<!-------------------------------------header--end---------------------------------------------->
<!-------------------------------container-------------------------------------------->
<div class="container">
	<div class="custom">
        <div class="cus-title">建站类型</div>
        <div class="typeBox clearfix">
            <div class="web-type propaganda  pull-left">
               <div class="title"><span>企业建站</span><span>展示型</span></div> 
                <div class="intro">
                    <dl class="dl-horizontal">
                      <dt>简介：</dt>
                      <dd>以宣传企业品牌为主，适用于需要推广宣传品牌的企业。</dd>
                    </dl>
                    <div class="line"></div>
                    <dl class="dl-horizontal">
                        <dt class="bottom5">设计师：</dt>
                        <dd class="bottom5">至少2名设计师参与设计。</dd>
                        <dt class="bottom5">设计稿：</dt>
                        <dd class="bottom5">提供首页设计稿一份。</dd>
                        <dt class="bottom5">网站维护：</dt>
                        <dd class="bottom5">首年免费维护。</dd>
                        <dt class="bottom5">网站后台：</dt>
                        <dd class="bottom5">免费培训。</dd>
                    </dl>
                    <div class="line"></div>
                    <dl class="dl-horizontal">
                        <dt>设计周期：</dt>
                        <dd><strong>20天</strong></dd>
                        <dt>开发价格：</dt>
                        <dd><strong>2000元起</strong></dd>
                    </dl>
                </div>
                <a href="#" class="type-contact">点击咨询相详情&gt;&gt;</a>
            </div>
            <div class="web-type marketing pull-left">
                <div class="title"><span>企业建站</span><span>营销型</span></div> 
                <div class="intro">
                    <dl class="dl-horizontal">
                      <dt>简介：</dt>
                      <dd>以宣传销售产品为主，适用于需要销售产品的企业。</dd>
                    </dl>
                    <div class="line"></div>
                    <dl class="dl-horizontal">
                        <dt class="bottom5">设计师：</dt>
                        <dd class="bottom5">至少4名设计师参与设计。</dd>
                        <dt class="bottom5">设计稿：</dt>
                        <dd class="bottom5">提供首页设计稿一份。</dd>
                        <dt class="bottom5">网站维护：</dt>
                        <dd class="bottom5">首年免费维护。</dd>
                        <dt class="bottom5">网站后台：</dt>
                        <dd class="bottom5">免费培训。</dd>
                    </dl>
                    <div class="line"></div>
                    <dl class="dl-horizontal">
                        <dt>设计周期：</dt>
                        <dd><strong>30天</strong></dd>
                        <dt>开发价格：</dt>
                        <dd><strong>5000元起</strong></dd>
                    </dl>
                </div>
                <a href="#" class="type-contact">点击咨询相详情&gt;&gt;</a>
            </div>
            <div class="web-type mobile pull-right">
                <div class="title"><span>企业建站</span><span>手机版</span></div> 
                <div class="intro">
                    <dl class="dl-horizontal">
                      <dt>简介：</dt>
                      <dd>以宣传企业品牌为主，适用于需要手机网站的企业。</dd>
                    </dl>
                    <div class="line"></div>
                    <dl class="dl-horizontal">
                        <dt class="bottom5">设计师：</dt>
                        <dd class="bottom5">至少2名设计师参与设计。</dd>
                        <dt class="bottom5">设计稿：</dt>
                        <dd class="bottom5">提供首页设计稿一份。</dd>
                        <dt class="bottom5">网站维护：</dt>
                        <dd class="bottom5">首年免费维护。</dd>
                        <dt class="bottom5">网站后台：</dt>
                        <dd class="bottom5">免费培训。</dd>
                    </dl>
                    <div class="line"></div>
                    <dl class="dl-horizontal">
                        <dt>设计周期：</dt>
                        <dd><strong>15天</strong></dd>
                        <dt>开发价格：</dt>
                        <dd><strong>1500元起</strong></dd>
                    </dl>
                </div>
                <a href="#" class="type-contact">点击咨询相详情&gt;&gt;</a>
            </div>
        </div>
        <div class="technology clearfix">
            <div class="left pull-left"><img src="__PUBLIC__/site/img/wz_img0.jpg"/></div>
            <div class="right pull-right">
                <div class="title">我们的技术</div>
                <div class="content">
                    <p>采用的DIV+CSS前段主流技术，融入最前沿的HTML5和CSS3技术，使网站拥有最良好的用户体验，兼容所有主流浏览器，对IE浏览器进行兼容处理，使网站可以在任何用户任何电脑前始终展现再完美的一面。</p>
                    <p>对网站代码就行SEO优化，使类似百度，360等所有搜索引擎第一时间收录，为公司带来大量的用户优质流量。</p>
                    <div class="tec-img"><img src="__PUBLIC__/site/img/i_1.jpg"/></div>
                </div>
            </div>
        </div>
        <div class="our-price clearfix">
            <div class="left pull-right"><img src="__PUBLIC__/site/img/wz_img1.jpg"/></div>
            <div class="right pull-left">
                <div class="title">我们的价格</div>
                <div class="content">
                    <p>泡椒科技始终以服务于网络为前提，节省线下成本，将最大的实惠让利给消费者，目前互联网行业发展势头正强，但随之而来的就是市场混乱，价格参差不齐、质量难以保障、售后无法维护，泡椒科技承诺对每一位客户认真负责到底，使您一次购买产品，终身享有售后。</p>
                    <p>泡椒科技不怕您比价格，我们号称全网最低价，全行业最低价，让您用最少的成本开发出您理想中的产品</p>
                    <div class="tec-img"><img src="__PUBLIC__/site/img/m_protect.jpg"/></div>
                </div>
            </div>
        </div>
	</div>
</div>

</block>
<block name='javascript'>
<script>
$(function(){
$.headerMove(248);
$.insideMove(0);
showMore();
})
</script>
</block>

