<extend name='Public:site' />
<block name='main'>
<!---------------------------------内页导航--------------------------------------->
<div class="insideTitle">
    <div class="container">
    	<div class="title">
        	<span>网站价格</span>
        	<span>Site Price</span>
        </div>
        <div class="sideBox clearfix">
            <ul class="insideMenu clearfix">
            	<li><a href="__URL__/index">网站价格</a></li>

            </ul>
            <div class="borderTop"></div>
        </div>
    </div>
</div>
<!---------------------------------内页导航---end------------------------------------>
<!-------------------------------------header--end---------------------------------------------->
<!-------------------------------container-------------------------------------------->
<div class="container">
	<div class="mbIntro">
		<table class="table mbTable">
        	<tr>
            	<td>产品名称</td>
                <td>企业经济型网站</td>
                <td>企业标准型网站</td>
                <td>企业全能型网站</td>
                <td>企业豪华型网站</td>
            </tr>
            <tr>
            	<td>原价：(元/年)</td>
                <td class="price">850元</td>
                <td class="price">1200元</td>
                <td class="price">1850元</td>
                <td class="price">3000元</td>
            </tr>
            <tr>
            	<td>优惠价:(元/年)</td>
                <td class="Nprice">680元</td>
                <td class="Nprice">980元</td>
                <td class="Nprice">1480元</td>
                <td class="Nprice">2480元</td>
            </tr>
            
            <tr class="apply">
            	<td>免费试用7天</td>
                <td><a href="#">试用</a></td>
                <td><a href="#">试用</a></td>
                <td><a href="#">试用</a></td>
                <td><a href="#">试用</a></td>
            </tr>
            <tr>
            	<td>购买：</td>
                <td><a href="<{:U('About/mony')}>"><img src="__PUBLIC__/site/img/ico_buy.gif"></a></td>
                <td><a href="<{:U('About/mony')}>"><img src="__PUBLIC__/site/img/ico_buy.gif"></a></td>
                <td><a href="<{:U('About/mony')}>"><img src="__PUBLIC__/site/img/ico_buy.gif"></a></td>
                <td><a href="<{:U('About/mony')}>"><img src="__PUBLIC__/site/img/ico_buy.gif"></a></td>
            </tr>
            <tr>
            	<td >买多多，送多多：</td>
                <td colspan="4" ><b style="color:#12584B;">买<span style="font-size:24px;">2</span>年送<span style="font-size:18px;">1</span>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;买<span style="font-size:24px;">3</span>年送<span style="font-size:18px;">2</span>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;买<span style="font-size:24px;">5</span>年送<span style="font-size:18px;">5</span>年</b></td>

            </tr>
            <tr class="tabbleTil">
            	<td colspan="5">主机配置</td>
            </tr>
            <tr>
            	<td>成品网站程序及模板</td>
                <td><img src="__PUBLIC__/site/img/ico_yes.gif"></td>
                <td><img src="__PUBLIC__/site/img/ico_yes.gif"></td>
                <td><img src="__PUBLIC__/site/img/ico_yes.gif"></td>
                <td><img src="__PUBLIC__/site/img/ico_yes.gif"></td>
            </tr>
            <tr>
            	<td>web空间:</td>
                <td>500M</td>
                <td>1000M</td>
                <td>2000M</td>
                <td>3000M</td>
            </tr>
            <tr>
            	<td>Mysql数据库：</td>
                <td>50M</td>
                <td>50M</td>
                <td>100M</td>
                <td>200M</td>
            </tr>
            <tr>
            	<td>网站备份空间:</td>
                <td>500M</td>
                <td>1000M</td>
                <td>2000M</td>
                <td>3000M</td>
            </tr>
            <tr>
            	<td>流量：Gbyte/月</td>
                <td>20</td>
                <td>40</td>
                <td>60</td>
                <td>80</td>
            </tr>
            <tr>
            	<td>赠送邮箱容量:</td>
                <td>500M</td>
                <td>500M</td>
                <td>500M</td>
                <td>500M</td>
            </tr>
            <tr>
            	<td>邮箱数量:</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
            </tr>
            <tr>
            	<td>IIS并发连接</td>
                <td>不限</td>
                <td>不限</td>
                <td>不限</td>
                <td>不限</td>
            </tr>
            <tr>
            	<td>可绑定域名：</td>
                <td>15个</td>
                <td>15个</td>
                <td>15个</td>
                <td>15个</td>
            </tr>
            <tr>
            	<td>赠送域名：</td>
                <td>英文.cn域名一个</td>
                <td>英文.com域名一个</td>
                <td>英文.com域名一个</td>
                <td>英文.com域名一个</td>
            </tr>
            <tr>
            	<td>机房</td>
                <td>双线/港台机房</td>
                <td>双线/港台机房</td>
                <td>双线/港台机房</td>
                <td>双线/港台机房</td>
            </tr>
            <tr>
            	<td>带宽上限</td>
                <td>1000M共享</td>
                <td>1000M共享</td>
                <td>1000M共享</td>
                <td>1000M共享</td>
            </tr>

            <tr class="tabbleTil">
            	<td colspan="5">网站后台配置</td>
            </tr>
            <tr>
            	<td>独立后台</td>
                <td><img src="__PUBLIC__/site/img/ico_yes.gif"></td>
                <td><img src="__PUBLIC__/site/img/ico_yes.gif"></td>
                <td><img src="__PUBLIC__/site/img/ico_yes.gif"></td>
            	<td><img src="__PUBLIC__/site/img/ico_yes.gif"></td>
            </tr>
			<tr>
            	<td colspan="5">
            	<font style='color:red;'>企业定制版</font><br>
            	1、定制版价格较高适合大型企业进行品牌宣传<br>
            	2、免费设计LOGO<br>
            	3、按需定制功能<br>
            	4、专业设计师精心打造网站页面<br>
            	5、专业的售后服务，竭诚为您服务
            	
            	</td>

            </tr>
        </table>
        
        <table class="table mbTable">
        <caption>成品网站和智能建站、CMS软件的区别</caption>
        	<tr>
        		<td>对比项目</td>
        		<td>成品网站</td>
        		<td>智能建站</td>
        		<td>CMS软件</td>
        	</tr>
        	<tr>
            	<td>是否在界面设计上符合行业网站的风格特点</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
                <td>
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
				</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
  
            </tr>
            <tr>
            	<td>是否按各行业网站的特点预设好网站栏目和内容布局</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
                <td>
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
				</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_1.gif">
                </td>
            </tr>
            <tr>
            	<td>是否具有针对特定行业所开发的专属功能模块</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
                <td>
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
				</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
            </tr>
            
            <tr>
            	<td>产品(或模板)是否接近用户的最终需求</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
                <td>
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
				</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
            </tr>
            <tr>
            	<td>产品(或模板)在界面设计上是否灵活多变</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
                <td>
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
				</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
            </tr>
            <tr>
            	<td>是否可以安装卸载功能模块</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
                <td>
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
				</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
            </tr>
            <tr>
            	<td>是否具有灵活的在线排版功能</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
                <td>
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
				</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
            </tr>
            <tr>
            	<td>是否具有灵活的显示设置功能</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
                <td>
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
				</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
            </tr>
            <tr>
            	<td>是否可以一键式更换模板</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_1.gif">
                </td>
                <td>
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
				</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
            </tr>
            <tr>
            	<td>是否提供在线试用体验</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
                <td>
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
				</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_1.gif">
                </td>
            </tr>
            <tr>
            	<td>是否可以在试用后直接开通网站</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
                <td>
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
				</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_1.gif">
                </td>
            </tr>
            <tr>
            	<td>是否不需要专业技术即可进行网站制作</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
                <td>
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
				</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
            </tr>
            <tr>
            	<td>是否支持专业人员进行二次开发</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
                <td>
					<img src="__PUBLIC__/site/img/icon_star_2.gif">
				</td>
                <td>
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                	<img src="__PUBLIC__/site/img/icon_star_2.gif">
                </td>
            </tr>
            

        </table>
	</div>
</div>

</block>
<block name='javascript'>
<script>
$(function(){
$.headerMove(300);
$.insideMove(0);
showMore();
})
</script>
</block>

