<!DOCTYPE html>
<html>
<head lang="zh-cn">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="renderer" content="webkit">
	<title>机器脑 - 网站后台管理</title>
	<link rel="stylesheet" href="__PUBLIC__/Css/pintuer.css">
	<link rel="stylesheet" href="__PUBLIC__/Css/admin.css">
	<script src="__PUBLIC__/Js/jquery.js"></script>
	<script src="__PUBLIC__/Js/respond.js"></script>
	<script src="__PUBLIC__/Js/layer/layer.min.js"></script>
	<script src="__PUBLIC__/Js/jquery.tips.js"></script>
	<script src="__PUBLIC__/Js/et.js"></script>
	<script src="__PUBLIC__/Js/my.js"></script>
</head>