<extend name='Public:site' />
<block name='main'>

<!-------------------------------------首页焦点图------------------------------------------------>
<div class="indexFocus">
	<ul>
    	  <li><img class="Ifocus" src="__PUBLIC__/site/img/1.jpg"><img class="textImg" style="top:180px;margin-left:-410px;" src="__PUBLIC__/site/img/2zi.png"></li>
        <li><img class="Ifocus" src="__PUBLIC__/site/img/2.jpg"><img class="textImg" src="__PUBLIC__/site/img/4zi.png" style="width:700px;"></li>
        <li><img class="Ifocus" src="__PUBLIC__/site/img/3.jpg"><img class="textImg" src="__PUBLIC__/site/img/5zi.png" style="width:700px;"></li>
    </ul>
    <div class="buttons">
    	<span class="arrow on"></span>
        <span class="arrow"></span>
        <span class="arrow"></span>
    </div>
</div>
<!-------------------------------------首页焦点图--end----------------------------------------------->
<!------------------------------------conatiner-------------------------------------------------->
<div class="container">
    <div class="index_tem freeTem">
        <div class="tem_title clearfix"><span>免费PC网站</span>
            <a href="<{:U('Product/index')}>" class="more"></a>
        </div>
       
        <div class="temBox">
            <ul class="clearfix">
            	<foreach name='hotGoods' item='vo'>
                <li>
                    <a class="webImg" href='<{:U("Details/index",array("id"=>$vo["id"]))}>'><img src="<{$vo.img}>"></a>
                    <div class="webType"><a href='<{:U("Details/index",array("id"=>$vo["id"]))}>'><{$vo.title}></a></div>
                </li>
                </foreach>
            </ul>
        </div>
    </div>
    <div class="indexMobile">
        <div class="mo_title clearfix"><span>免费手机网站</span>
            <a href="#" class="more"></a>
        </div>
        <div class="mobile_box">
            <ul class="mobile_web clearfix">
                <li>
                    <a class="mobile_img" href="#">
                        <img src="__PUBLIC__/site/img/phonePic.png">
                    </a>
                    <a class="mobile_title" href="#">精品手机模板1</a>
                </li>
                <li>
                    <a class="mobile_img" href="#">
                        <img src="__PUBLIC__/site/img/20150409135116.png">
                    </a>
                    <a class="mobile_title" href="#">精品手机模板2</a>
                </li>
                <li>
                    <a class="mobile_img" href="#">
                        <img src="__PUBLIC__/site/img/20150409135232.png">
                    </a>
                    <a class="mobile_title" href="#">精品手机模板3</a>
                </li>
                <li>
                    <a class="mobile_img" href="#">
                        <img src="__PUBLIC__/site/img/20150409135245.png">
                    </a>
                    <a class="mobile_title" href="#">精品手机模板4</a>
                </li>
                <li>
                    <a class="mobile_img" href="#">
                        <img src="__PUBLIC__/site/img/20150409135254.png">
                    </a>
                    <a class="mobile_title" href="#">精品手机模板5</a>
                </li>
            </ul>
        </div>
        <div class="mobile_arrow mobile_prev"></div>
        <div class="mobile_arrow mobile_next"></div>
    </div>
    <div class="newsWrapper clearfix">
    	<div class="left">
        	<div class="title clearfix">
                <div class="lTit">技术文章</div>
            </div>
            <div class="shadow"></div>
            <div class="newsBox">
            	<div class="companyNews">
                	<ul>
                	<?php foreach($result[1] as $val){?>
                    	<li>
                        	<a class="clearfix" href='<?php echo U("/Content/index/id/$val[id]");?>'>
                            	<span><{$val.title}></span>
                                <span><{$val.dateline|date="Y-m-d",###}></span>
                            </a>
                        </li>
 			<?php }?>
                    </ul>
                    <div class="newMore"><a href="<{:U('Information/index/cid/1')}>"></a></div>
                </div>
                
            </div>
        </div>
        <div class="left" style="float:right;border:0;padding-right:20px;">
            <div class="title clearfix">
                <div class="lTit">行业资讯</div>
            </div>
            <div class="shadow"></div>
            <div class="newsBox">
                <div class="tradeNews">
                    <ul>
                    <?php foreach($result[2] as $val){?>
                        <li>
                            <a class="clearfix" href='<?php echo U("/Content/index/id/$val[id]");?>'>
                                <span><{$val.title}></span>
                                <span><{$val.dateline|date="Y-m-d",###}></span>
                            </a>
                        </li>
            <?php }?>
                    </ul>
                    <div class="newMore"><a href="<{:U('Information/index/cid/2')}>"></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------------------------container--end------------------------------------------------>
<div id="daiyanbao_com_content" closerate="0" playrate="24" style="position: fixed;_position: absolute;text-align: left;overflow: visible;bottom :0;left:0;display:block; z-index:999;">
<script src="//res.daiyanbao.com/freevideojs/hy2014_2/2/13184228875.js"></script>
</div>
<script>
            //首页手机模板展示滚动
            var liWidth = $('.indexMobile .mobile_web li').outerWidth() + parseInt($('.indexMobile .mobile_web li').css('marginRight'));
            var liNum = $('.indexMobile .mobile_web li').length;
            var sumWidth = liWidth*liNum;
            $('.indexMobile .mobile_web').width(sumWidth);
        function mobileScroll(offset){
            if($('.indexMobile .mobile_web').is(':animated')==true){return;}
            var newLeft =  parseInt($('.indexMobile .mobile_web').css('marginLeft')) + offset;
            $('.indexMobile .mobile_web').animate({'marginLeft':newLeft},500,function(){
                var currentW = Math.abs(parseInt($('.indexMobile .mobile_web').css('marginLeft'))) + liWidth*4;
                if(currentW >= $('.indexMobile .mobile_web').outerWidth()){
                  $('.indexMobile .mobile_next').hide();  
                }else{
                  $('.indexMobile .mobile_next').show();   
                }
                if(Math.abs(parseInt($('.indexMobile .mobile_web').css('marginLeft')))>0){
                   $('.indexMobile .mobile_prev').show();  
                }else{
                   $('.indexMobile .mobile_prev').hide();   
                }   
            });
        };
        $('.indexMobile .mobile_next').click(function(){
            mobileScroll(-liWidth*4);
        });
        $('.indexMobile .mobile_prev').click(function(){
            mobileScroll(liWidth*4);
        })
        $('.indexMobile').mouseenter(function(){
            var currentW = Math.abs(parseInt($('.indexMobile .mobile_web').css('marginLeft'))) + liWidth*4;
            if(currentW >= $('.indexMobile .mobile_web').outerWidth()){
              $('.indexMobile .mobile_next').hide();  
            }else{
              $('.indexMobile .mobile_next').show();   
            }
            if(Math.abs(parseInt($('.indexMobile .mobile_web').css('marginLeft')))>0){
               $('.indexMobile .mobile_prev').show();  
            }else{
               $('.indexMobile .mobile_prev').hide();   
            }
         })
        $('.indexMobile').mouseleave(function(){
            $('.indexMobile .mobile_arrow').hide(); 
         })
    </script>
</block>

    
