<extend name='Public:site' />
<block name='main'>
<!---------------------------------内页导航-------------------------------------->
<div class="insideTitle">
    <div class="container">
    	<div class="title">
        	<span>模板详情</span>
        	<span>Template Details</span>
        </div>
        <div class="sideBox clearfix">
            <ul class="insideMenu clearfix">

				<li><a href="__APP__/Details/index/id/<{$list.id}>">模板详情</a></li>
            </ul>
            <div class="borderTop"></div>
        </div>
    </div>
</div>
<!---------------------------------内页导航---end------------------------------------>
<!-------------------------------header----end---------------------------------------->
<!-------------------------------container-------------------------------------------->
<div class="container" style="margin: 30px auto;">
	<div class="mbIntro">
        <div class="mb_title">网站简介</div>
        <div class="checkedMB clearfix">
        	<div class="checkedImg">
                <div class="imgBox">
            	   <img src="<{$list.img}>">
                </div>
            </div>
            <div class="checkedType">
                <div class="webType">
                    模板名称：<{$list.title}>
                </div>
                <div class="webNum">
                    产品编号：<{$list.mode}>
                </div>
                <div class="webColor">
                    颜色分类：<{$list.color}>
                </div>
                <div class="webClass">
                    应用分类：<{$list.appcat}>
                </div>
                <div class="webTrade">
                    行业分类：<{$cat_list.title}>
                </div>
                <div class="webKeyWord clearfix">
                    <div class="keyTil">
                        模板关键词：
                    </div>
                    <div class="keyWord clearfix">
                        <foreach name="list['tag']" item="v">
                        <a href="#"><{$v}></a>
                    </foreach>

                    </div>
                </div>
                <div class="btnBox clearfix">
                    <div class="preview">
                        <i class="icon-eye-open icon-white"></i>
                        <i class="icon-eye-open icon-white icon-transition"></i>
                        <input type="button" value="在线预览"  />
                    </div>  
                    <div class="manage">
                        <i class="icon-user icon-white"></i>
                        <i class="icon-user icon-white icon-transition"></i>
                        <input type="button" value="后台预览" />
                    </div>
                    <div class="trial">
                        <i class="icon-star icon-white"></i>
                        <i class="icon-star icon-white icon-transition"></i>
                        <input type="button" value="试用体验" />
                    </div>
                    <div class="setting">
                        <i class="icon-fire icon-white"></i>
                        <i class="icon-fire icon-white icon-transition"></i>
                        <input type="button" value="免费建站" />
                    </div>
                </div>
            </div>
        </div>
        <div class="process">
            <div class="mb_title" style="margin:40px 0 10px 0;text-align:center;">建站流程</div>
            <img class="fuwuqi" src="__PUBLIC__/site/img/fuwuqi.png">
            <img class="yuming" src="__PUBLIC__/site/img/yuming.png">
            <img class="duijie" src="__PUBLIC__/site/img/duijie.png">

            <div class="arrowBox clearfix">
                <div class="arrow arrow-middle">网<br/>站<br/>前<br/>台</div>
            </div>
            <div class="step step_1">
                <p>在免费网站市场选定网站样式，并将网站编号提供给客服人员。</p>
            </div>
            <div class="arrowBox clearfix">
                <div class="arrow arrow-left pull-left">域<br/>名</div>
                <div class="arrow arrow-right pull-right">域<br/>名</div>
            </div>
            <div class="left">
                <div class="step step_2">
                    <p>申请建站者自己提供域名。</p>
                </div>
            </div>
            <div class="right">
                <div class="step step_2">
                    <p>购买泡椒域名。
                        <div><input class="yellow-btn buy-btn" type="button" value="前去购买"></div>
                    </p>
                </div>
            </div>
            <div class="arrowBox clearfix" style="margin-top:40px;">
                <div class="arrow arrow-left pull-left" style="line-height:26px;">服<br/>务<br/>器</div>
                <div class="arrow arrow-right pull-right" style="line-height:26px;">服<br/>务<br/>器</div>
            </div>
            <div class="left">
                <div class="step step_2">
                    <p>自己提供服务器。</p>
                </div>
            </div>
            <div class="right">
                <div class="step step_2">
                    <p>购买泡椒服务器。
                        <div><input class="yellow-btn buy-btn" type="button" value="前去购买"></div>
                    </p>
                </div>
            </div>
            <div class="arrowBox clearfix" style="margin-top:40px;">
                <div class="arrow arrow-left pull-left" style="line-height:25px;">后<br/>期<br/>服<br/>务</div>
                <div class="arrow arrow-right pull-right" style="line-height:25px;">后<br/>期<br/>服<br/>务</div>
            </div>
            <div class="left">
                <div class="step step_2">
                    <p>由于建站申请人自己提供域名与空间，泡椒科技无法获得相应权限进行维护，故不提供后期任何维护服务。</p>
                </div>
            </div>
            <div class="right">
                <div class="step step_2">
                    <p>泡椒提供免费网站安全检测维护，网站前台、后台的修改等服务。
                        <div><input class="yellow-btn buy-btn" type="button" value="点击咨询"></div>
                    </p>
                </div>
            </div>
            <div class="arrowBox clearfix" style="margin-top:40px;">
                <div class="arrow arrow-left pull-left" style="line-height:18px;">技<br/>术<br/>对<br/>接</div>
                <div class="arrow arrow-right pull-right" style="line-height:18px;">技<br/>术<br/>对<br/>接</div>
            </div>
            <div class="left">
                <div class="step step_2">
                    <p>将建站申请人手中的域名空间与泡椒的前台、后台进去对接。</p>
                </div>
            </div>
            <div class="right">
                <div class="step step_2">
                    <p>对网站前台、域名、服务器、后台管理系统进行技术对接。</p>
                </div>
            </div>
            <div class="arrowBox clearfix">
                <div class="arrow arrow-middle">架<br/>设<br/>完<br/>成</div>
            </div>
            <div class="step step_1">
                <p>建站申请人进行网站检测并验收网站。</p>
                <div class="zixun"><input type="button" class="yellow-btn" value="咨询客服"></div>
            </div>
            
        </div>                
    </div>
</div>
<!-------------------------------container---end----------------------------------------->

</block>
<block name='javascript'>
<script>
$(function(){
$.insideMove(0);
$.headerMove(248);    
})
</script>
</block>
