<extend name='Public:site' />
<block name='main'>
<include file="inline" />
<!-------------------------------------header--end---------------------------------------------->
<!-------------------------------container--style="display:none;"------------------------------------------>
<div class="container filter">
	<div class="filterMenu" >
    	<div class="volType volNor clearfix">
        	<div class="voltit">网站类型:</div>
            <span class="on" onclick="onall();">全部</span>
            <span  data-type="1">中文网站</span>
            <span  data-type="2">英文网站</span>
            <span  data-type="3">商城网站</span>
        </div>
        <div class="volType volColor clearfix">
        	<div class="voltit">网站颜色:</div>
            <span class="on" onclick="onall();">全部</span>
            <span class="volred" data-color="红色">红色</span>
            <span class="volgrey" data-color="灰色">灰色</span>
            <span class="volwhite" data-color="白色">白色</span>
            <span class="volblack"  data-color="黑色">黑色</span>
            <span class="volpink"  data-color="粉色">粉色</span>
            <span class="volpurple" data-color="紫色">紫色</span>
            <span class="volblue"  data-color="蓝色">蓝色</span>
            <span class="volgreen" data-color="绿色">绿色</span>
            <span class="volorange"  data-color="橙色">橙色</span>
            <span class="colorful"  data-color="多彩"><i>多</i><i>彩</i></span>
        </div>
        <div class="volTrade volType clearfix">
        	<div class="voltit">行业分类:</div>
            <span class="on" onclick="onall();">全部</span>
            <div class="tradeBox" value="0">
            	<div class="tradeHeight clearfix">
            	<volist name="goods_cat" id="vo">
                    <span  data-code="<{$vo.code}>"><{$vo.title}></span>
                    </volist>
                    
                </div>
            </div>
            <div class="showMore"><a href="javascript:void(0)" onclick="showMore();"><i>点击查看更多</i><img src="__PUBLIC__/site/img/ico_jiahao.gif" /></a></div>
        </div>
        <div class="volType volSerach clearfix">
        	<div class="voltit">定向搜索:</div>
            <div class="searchInput"><input type="text" name="keywords" placeholder="请输入行业关键词"></div>
            <div class="searchBtn"></div>
        </div>
    </div>
    <div class="productShow">
    	<ul class="clearfix" id="nan-list">

        </ul>
        <div class="paging clearfix">
        	 <div id="pagebar"></div>
        </div>
    </div>
</div>

</block>
<block name='javascript'>
<script src="__PUBLIC__/site/js/et.min.js"></script>
<script src="__PUBLIC__/site/js/my.min.js"></script>
<script type="text/template" id="theTemplate">
<#macro userlist data>
<#list data.list as list>
	<li>
		<a class="webImg" href='/Details/index/id/${list.id}.html'><img src="${list.img}"></a>
		<div class="webType"><a href='/Details/index/id/${list.id}.html'>${list.title}</a></div>
		<div class="webNum">产品编号：<span>${list.mode}</span></div>
		<div class="webTrade">行业分类：<span>${list.code_title}</span></div>
		<div class="webBtn clearfix">
		<a href="${list.link}" target="_blank" rel="nofollow">在线演示</a>
		<a href='/Details/index/id/${list.id}.html'>免费建站</a>
		</div>
	</li>
</#list>
</#macro>
</script>
<script>
$(function(){
$.headerMove(248);
$.insideMove(0);
showMore();
})
var the_code = '';
var the_type = '';
var the_color = '';
var keywords = '';

var ajaxpage = function(obj){
	var dp = $(obj).attr('data-url');
	$(function(){		
		var url = "__URL__/index/do/load/p/"+dp
		var the_load = layer.load(30,1);
		var data = 'code='+the_code+'&type='+the_type+'&color='+the_color+'&keywords='+keywords;
		$.post(url,data,function(data,status){
			//alert(data)
			$.getScript("/Public/site/js/selectivizr-min.js");
			ETlist(data['list'],'#nan-list','#theTemplate',0);
			$("#pagebar").html(data['page']);
			  if(status=='success'){
				layer.close(the_load);
			}  
		})
	})
}
var onall = function(){
	var hrefUrl =  '<{:U("__URL__/index")}>';
	location.href = hrefUrl;
}
/*
var onsel = function(obj){
	the_code = $('.tradeHeight').find('span[class="on"]').attr('data-code');
	the_color =$('.volColor .on').attr('data-color');

	//console.log(the_color);
	alert(the_color);
	ajaxpage();
}*/
$(function(){
	$('.volNor').find('span').click(function(){
		the_type = $(this).attr('data-type');
		ajaxpage();
	})	
	$('.volColor').find('span').click(function(){
		the_color = $(this).attr('data-color');
		ajaxpage();
	})
	$('.tradeBox').find('span').click(function(){
		the_code = $(this).attr('data-code');
		ajaxpage();
	})
	$('.searchBtn').click(function(){
		keywords = $('input[name="keywords"]').val();
		ajaxpage();
	})
})

ajaxpage();


</script>
</block>

