<!---------------------------------内页导航-------------------------------------->
<div class="insideTitle">
    <div class="container">
    	<div class="title">
        	<span>产品展示</span>
        	<span>Product template</span>
        </div>
        <div class="sideBox clearfix">
            <ul class="insideMenu clearfix">
                <?php foreach($res['27']['content'] as $v){?>
            	<li><a href="<{$v.1}>"><{$v.0}></a></li>
                <?php }?>

            </ul>
            <div class="borderTop"></div>
        </div>
    </div>
</div>
<!---------------------------------内页导航---end------------------------------------>