<include file="Public:head_edit" />

<body style="background-color:#EFF3F6;">
<form method="post" action="__URL__/ad_post" enctype="multipart/form-data">
<div class="nbsp_40"> </div>
<div class="clearfix nan-inline" >
	<label>广告分类</label>
	<select name="code" class="input wid_300">
		<option value="0">选择分类...</option>
		<?php foreach($cat_list as $v){?>
		<option value="<{$v.code}>" <?php if($v[code]==$item[code]){echo "selected";}?>><{$v.title}></option>
		<?php }?>
	</select>
</div>
<div class="clearfix nan-inline" >
	<label>广告标题</label>
	<input type="text" name="title" value="<{$item.title}>" class="input nan-the-input wid_300"  />
</div>
<div class="clearfix nan-inline" >
	<label>广告内容</label>

    <input size="100" type="file" name="img" class="input nan-the-input wid_300" />
 

</div>
<div class="clearfix nan-inline" >
	<input type="submit" class="button bg-main wid_80 nan_left " value="提交" onclick="disClick(this);">
	<input type="reset" class="button bg-dot wid_80" value="重置">
	<input type="hidden" name="id" value="<{$item.id}>"/>
</div>
</form>
</body>
</html>