<include file="Public:head_edit" />
<script type="text/template" id="theTemplate">
<#macro userlist data>
<table id="table" class="table table-condensed">
  <thead>
    <tr>
	<th width="120">编号</th>
  	<th width="*">分类名称</th>
  	<th width="120">操作</th>
    </tr>
  </thead>
  <tbody>
<#if (data.list==null)>
		<tr>
			<td colspan="3"><div class="alert alert-red"><strong>暂无数据</strong></div></td>
		</tr>
<#else>
      <#list data.list as list>
        <tr >
          <td>${list.id}</td>
          <td class="bold">${list.lev}${list.title}</td>
          <td>
            <a onclick="onmol(this);" data-id="${list.id}" data-title="${list.title}" data-pid="${list.pid}" href="javascript:void(0);" class="button button-little bg-blue icon-pencil"></a>
  		<a onclick="ondel(${list.id});" href="javascript:void(0);" class="button button-little bg-red icon-trash-o" ></a>
          </td>
        </tr>
      </#list>
</#if>
  </tbody>
</table>
</#macro>
</script>
<script type="text/template" id="theSelect">
<#macro userlist data>
<select class="input nan-input-3" name="pid">
	<option value='0'>顶级分类</option>
	<#list data.list as list>		 				 	
		<option value='${list.id}' <#if (list.id == data.id)>selected</#if>>${list.lev}${list.title}</option>
	</#list>
</select>
</#macro>
</script>
<script>
var the_top;
var loadlist = function(){	
	$(function(){
		var url = "__URL__/art_cat/do/load"
		//alert(url);
		$.get(url,function(data){
			//alert(data);
			ETlist(data['list'],'#nan-list','#theTemplate');
		})
	})
} 
var loadselect = function(pid){
	$(function(){
		var url = "__URL__/art_cat/do/load"
		$.get(url,function(data){	
			ETlist(data['list'],'#nan-select','#theSelect',pid);
		})
	})
}

var onmol = function(obj){
	var id      = $(obj).attr('data-id');
	var title   = $(obj).attr('data-title');
	var pid     = $(obj).attr('data-pid');
	
	$('.mol').find('input[name="id"]').val(id);
	$('.mol').find('input[name="title"]').val(title);

	//$('#nan-cat-list').find("option[value='"+pid+"']").attr('selected',"selected");
	loadselect(pid);
	the_top = $.layer({
	    type: 1,
	    title: '分类编辑',
	    maxmin: true,
	    area: ['600px', '400px'],
	    page: {dom: '.mol'},
	    shift: 'left',	    
	}); 
}

var closemol = function(){
	layer.close(the_top);
}

//删除弹出
var ondel = function(id){
	
	$.layer({
	    shade: [0],
	    area: ['auto','auto'],
	    dialog: {
	        msg: '确定要删除吗？',
	        btns: 2,                    
	        type: 4,
	        btn: ['确定','取消'],
	        yes: function(){
	        		var url = "__URL__/art_cat_del/do/del/id/"+id;
	        		
        			$.get(url,function(data){
        				switch(parseInt(data)){        				
	        				case 1:
	        					layer.msg('分类删除成功',2,{type:1,shade:false,rate:'left'});
	        					loadlist();
	        					break;
	        				case 2:
	        					layer.msg('分类删除失败',2,{type:2,shade:false,rate:'left'});
	        					break;
	        				case 3:
	        					layer.msg('分类下有子分类,无法删除',2,{type:3,shade:false,rate:'left'});
	        					loadlist();
	        					break;
	        				default:
	        					layer.msg('操作有误',2,{type:1,shade:false,rate:'left'});
	        					break;	
        				}
		        	})	        	
	        }
	    }
	});
}

$(function(){
	$('#thesubmit').bind('click',function(){
		var id      = $('input[name="id"]').val();
		var pid = $('select[name="pid"]').val();
		var title   = $('input[name="title"]').val();

		var obj     = this;
		var url     = '__URL__/art_cat_post';
		var data    = 'id='+id+'&pid='+pid+'&title='+title;

		$.post(url,data,function(data){
			//alert(data);
			switch(parseInt(data)){
			
				case 1:
					layer.msg('分类添加成功',2,{type:1,shade:false,rate:'left'});
					layer.close(the_top);
					loadlist();
					break;
				case 2:
					layer.msg('分类添加失败',2,{type:2,shade:false,rate:'left'});
					break;
				case 3:
					layer.msg('分类修改成功',2,{type:1,shade:false,rate:'left'});
					layer.close(the_top);
					loadlist();
					break;
				case 4:
					layer.msg('分类修改失败',2,{type:2,shade:false,rate:'left'});
					break;
				case 5:
					layer.msg('分类选择有误',2,{type:3,shade:false,rate:'left'});
					break;
				default:
					layer.msg('操作有误',2,{type:3,shade:false,rate:'left'});
					break;	
			}
		})
	})
})

loadlist();
</script>


<body style="background-color:#EFF3F6;">
<div class=" nbsp_40 bg-main">
	<div class="bread-head nan-head">
	文章分类
		<span class="small">文章分类添加</span>
	</div>
	<div class="nan-head-right">
		<button onclick="onmol(this);" class="button button-small bg-dot icon-plus">添加分类</button>
	</div>
</div>
<div id="nan-list"></div>

<div class='mol' style='display:none;'>

		<div class="line-big moform">
		 <div class="nan-leb">上级分类：</div> 
		 <div id="nan-select">
		 	
		 </div> 
		</div>
		<div class="line-big moform">
		 <div class="nan-leb">分类名称：</div> 
		 <div><input class="input nan-input-3" type="text" name="title"></div> 
		</div>

		<div class="line-big moform nan-but">
		 <div><input class="button border-green nan-input-1" type="submit" value='提交' id="thesubmit"></div>&nbsp;&nbsp;&nbsp;&nbsp;
		 <div><button class="button border-red nan-input-1" onclick="closemol()">关闭</button></div> 
		 <div><input type="hidden" name="id" value=""></div> 
		</div>

</div>

		
</body>
</html>