<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="__PUBLIC__/Css/admin.css" />
        <script src="__PUBLIC__/Js/jquery-1.7.2.min.js"></script>
    <script>
        $(function(){
            $('input[level=1]').click(function(){
                var inputs = $(this).parents('.app').find('input');
                $(this).attr('checked')? inputs.attr('checked','checked') : inputs.removeAttr('checked');
            })
           $('input[level=2]').click(function(){
                var thedl = $(this).parents('dl').find('input');
                $(this).attr('checked')?thedl.attr('checked','checked'):thedl.removeAttr('checked');
            })
        })

           
    </script>
</head>
<body>
    <form action="<{:U('User/setAccess')}>" method='post'>
    <div id="wrap">
        <foreach name="node" item="v">
            <div class="app">
                <p>
                    <strong>
                        <{$v.title}>
                    </strong>(<{$v.name}>)
                    <input type="checkbox" name='access[]' value='<{$v.id}>_1' level='1' <if condition='$v["access"]'>checked="checked"</if>/>
                </p>
                <foreach name="v.child" item="vo">
                    <dl>
                        <dt>
                            <strong><{$vo.title}></strong>(<{$vo.name}>)
                            <input type="checkbox" name='access[]' value='<{$vo.id}>_2' level='2' <if condition='$vo["access"]'>checked="checked"</if>/>
                        </dt>
                        <foreach name="vo.child" item="value">
                            <dd>
                                <span><{$value.title}></span>(<{$value.name}>)
                                <input type="checkbox" name='access[]' value='<{$value.id}>_3' level='3' <if condition='$value["access"]'>checked="checked"</if>/>
                            </dd>
                        </foreach>
                    </dl>
                </foreach>
            </div>
        </foreach>
    </div>
    <input type="hidden" name='rid' value="<{$rid}>"/>
    <input type="submit"  value='保存提交' style='width:100px;height:50px;display:block;margin:20px auto;cursor:pointer;font-size:20px;font-weight:bold;' />
    </form>
</body>
</html>