<extend name='Public:site' />
<block name='main'>
<include file="inline" />
<!-------------------------------header----end---------------------------------------->
<!-------------------------------container-------------------------------------------->
<style type="text/css">
.footer{margin-top:0}
.footer .topF{background:#000}
</style>
<div class="container" style="padding-bottom:0;">
	<div class="joinus">
    	<div class="intruduce">
        	<div class="intru_title">你的加入将会<br/><span>为我们带来更多精彩</span></div>
            <div class="desc" style="margin-top:30px;">
            	<p>我们希望这样的队伍加入我们的团队</p>
                <p>做事认真，仔细，吃苦耐劳，责任心强；</p>
                <p>有良好的团队精神及团队协作力的；</p>
                <p>有理想、有抱负，希望通过公司发展的；</p>
                <p>能够为提升个人能力和推动企业发展付诸行动的；不一定有学历，</p>
                <p>但一定要有学习力！</p>
            </div>
            <div class="desc">
            	<p>在这里，你将会得到</p>
                <p>持续成长的环境和空间；</p>
                <p>持续提升的个人素质和技能；</p>
                <p>持续展现自我价值和人生梦想！</p>
                <p>··· ···</p>
            </div>
        </div>
        <div class="employ">
        	<dl class="items01 dl-horizontal">
            	<dt><span>网路营销员</span></dt>
                <dd> 
                	岗位职责：负责产品推广，广告编辑，品牌宣传，产品优化<br/>
                    要求：工作能力强，有责任心，不懂技术没关系，公司有强大的技术支持
                    <br/>						
                    <input class="accept btn" type="button" value="应聘该职位">
                </dd>
                <dd class="input_area">

                	<table>
                    	<tr>
                        	<td width="15%">姓名：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>性别：</td>
                            <td>男<input name="sex" type="radio">女<input name="sex" type="radio"></td>
                        </tr>
                        <tr>
                        	<td>出生日期：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>婚姻状况：</td>
                            <td>已婚<input name="sex" type="radio">未婚<input name="sex" type="radio"></td>
                        </tr>
                        <tr>
                        	<td>毕业学校：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>最高学历：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>毕业专业：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>毕业时间：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>联系电话：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>手机号码：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>通讯地址：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>电子邮件：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>教育经历：</td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                        	<td>工作经历：</td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                        	<td></td>
                            <td class="sub_btn"><input class="btn" type="button" value="提交"></td>
                        </tr>
                    </table>
                </dd>
            </dl>
            <dl class="items02 dl-horizontal">
            	<dt><span>平面设计</span></dt>
                <dd> 
                	岗位职责：公司一起品牌形象，产品形象设计等。<br/>
                    要求：投简历前准备好作品<br/>						
                    <input class="accept btn" type="button" value="应聘该职位">
                </dd>
                <dd class="input_area">
                	<table>
                    	<tr>
                        	<td width="15%">姓名：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>性别：</td>
                            <td>男<input name="sex" type="radio">女<input name="sex" type="radio"></td>
                        </tr>
                        <tr>
                        	<td>出生日期：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>婚姻状况：</td>
                            <td>已婚<input name="sex" type="radio">未婚<input name="sex" type="radio"></td>
                        </tr>
                        <tr>
                        	<td>毕业学校：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>最高学历：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>毕业专业：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>毕业时间：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>联系电话：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>手机号码：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>通讯地址：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>电子邮件：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>教育经历：</td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                        	<td>工作经历：</td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                        	<td></td>
                            <td class="sub_btn"><input class="btn" type="button" value="提交"></td>
                        </tr>
                    </table>
                </dd>
            </dl>
            <dl class="items03 dl-horizontal">
            	<dt><span>前端工程师</span></dt>
                <dd> 
                	岗位职责：与美工，php程序员合作完成项目<br/>
                    要求：熟悉HTML、CSS、js、jQuery... <br/>						
                    <input class="accept btn" type="button" value="应聘该职位">
                </dd>
                <dd class="input_area">
                	<table>
                    	<tr>
                        	<td width="15%">姓名：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>性别：</td>
                            <td>男<input name="sex" type="radio">女<input name="sex" type="radio"></td>
                        </tr>
                        <tr>
                        	<td>出生日期：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>婚姻状况：</td>
                            <td>已婚<input name="sex" type="radio">未婚<input name="sex" type="radio"></td>
                        </tr>
                        <tr>
                        	<td>毕业学校：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>最高学历：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>毕业专业：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>毕业时间：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>联系电话：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>手机号码：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>通讯地址：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>电子邮件：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>教育经历：</td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                        	<td>工作经历：</td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                        	<td></td>
                            <td class="sub_btn"><input class="btn" type="button" value="提交"></td>
                        </tr>
                    </table>
                </dd>
            </dl>
            <dl class="items04 dl-horizontal">
            	<dt><span>PHP工程师</span></dt>
                <dd> 
                	岗位职责：代码检查及维护<br/>
                    要求：有良好的逻辑思维，有良好的编程习惯，熟悉php、mysql、js、jQuery<br/>						
                    <input class="accept btn" type="button" value="应聘该职位">
                </dd>
                <dd class="input_area">
                	<table>
                    	<tr>
                        	<td width="15%">姓名：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>性别：</td>
                            <td>男<input name="sex" type="radio">女<input name="sex" type="radio"></td>
                        </tr>
                        <tr>
                        	<td>出生日期：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>婚姻状况：</td>
                            <td>已婚<input name="sex" type="radio">未婚<input name="sex" type="radio"></td>
                        </tr>
                        <tr>
                        	<td>毕业学校：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>最高学历：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>毕业专业：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>毕业时间：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>联系电话：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>手机号码：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>通讯地址：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>电子邮件：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>教育经历：</td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                        	<td>工作经历：</td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                        	<td></td>
                            <td class="sub_btn"><input class="btn" type="button" value="提交"></td>
                        </tr>
                    </table>
                </dd>
            </dl>
            <dl class="items05 dl-horizontal">
            	<dt><span>发行人员</span></dt>
                <dd> 
                	岗位职责：对市场进行监督和调查，投放刊物。<br/>
                    要求：18-26周岁，男，身体健康，能吃苦耐劳，有责任心， 优秀者提供住宿。<br/>						
                    <input class="accept btn" type="button" value="应聘该职位">
                </dd>
                <dd class="input_area">
                	<table>
                    	<tr>
                        	<td width="15%">姓名：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>性别：</td>
                            <td>男<input name="sex" type="radio">女<input name="sex" type="radio"></td>
                        </tr>
                        <tr>
                        	<td>出生日期：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>婚姻状况：</td>
                            <td>已婚<input name="sex" type="radio">未婚<input name="sex" type="radio"></td>
                        </tr>
                        <tr>
                        	<td>毕业学校：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>最高学历：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>毕业专业：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>毕业时间：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>联系电话：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>手机号码：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>通讯地址：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>电子邮件：</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                        	<td>教育经历：</td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                        	<td>工作经历：</td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                        	<td></td>
                            <td class="sub_btn"><input class="btn thesubmit" type="button"  value="提交"></td>
                        </tr>
                    </table>
                </dd>
            </dl>
        </div>
    </div>
</div>
<!-------------------------------container--end------------------------------------------>

</block>
<block name='javascript'>
<script>
$(function(){
$.headerMove(300);
$.insideMove(2);
$('.accept').click(function(){
	if($(this).parent('dd').siblings('.input_area').is(":hidden")==true){
		$('.input_area').hide(300);
		$(this).parent('dd').siblings('.input_area').show(300,function(){
            $('html,body').animate({'scrollTop':$(this).parents('dl').offset().top},300);

        });	
		};
	});
})
</script>
</block>