<extend name='Public:site' />
<block name='main'>
<include file="inline" />
<!-------------------------------header----end---------------------------------------->
<!-------------------------------container-------------------------------------------->
<div class="container">
	<div class="mbIntro">
		
		<table class="table mbTable" style="margin-top:144px;">
			<tr>
				<td colspan="4">付款方式</td>
			</tr>
			<tr>
				<td width="260px"><img width="290px" src="__PUBLIC__/site/img/images/jianshe.jpg"/></td>
				<td>建设银行</td>
				<td>6236 6815 4000 1960 215</td>
				<td>户名：张军波</td>
			</tr>
			<tr>
				<td width="260px"><img width="290px" src="__PUBLIC__/site/img/images/nongye.jpg"/></td>
				<td>农业银行</td>
				<td>6228 4803 2899 6670 076</td>
				<td>户名：张军波</td>
			</tr>
			<tr>
				<td width="260px"><img width="290px" src="__PUBLIC__/site/img/images/gongshang.jpg"/></td>
				<td>工商银行</td>
				<td>6222 0212 0203 1376 032</td>
				<td>户名：张军波</td>
			</tr>
			<tr>
				<td height="50px"><img width="290px"  src="__PUBLIC__/site/img/images/zhifubao.jpg"/></td>
				<td>支付宝</td>
				<td>zhangjunbozjb@163.com</td>
				<td>户名：张军波</td>
			</tr>
			<tr>
				<td height="50px"><img width="290px"  src="__PUBLIC__/site/img/images/caifu.jpg"/></td>
				<td>财付通</td>
				<td>zhangjunbozjb@163.com</td>
				<td>户名：张军波</td>
			</tr>
			
		</table>
	</div>
</div>
<!-------------------------------container--end------------------------------------------>

</block>
<block name='javascript'>
<script>
$(function(){
$.insideMove(1);
})
</script>
</block>