<extend name='Public:site' />
<block name='main'>
<include file="inline" />
<!-------------------------------header----end---------------------------------------->
<!-------------------------------container-------------------------------------------->
<div class="container">
	<div class="about-money">
        <div class="title">付款流程</div>
        <div class="pay-liucheng"><img src="__PUBLIC__/site/img/images/kaitong.png"/></div>
        <div class="title">付款方式</div>
		<table class="table money-table">
            <thead>
                <tr>
                    <th>银行</th>   
                    <th>卡号</th>
                    <th>户名</th>
                    <th>开户行</th>
                </tr>    
            </thead>
            <tbody>
                <tr>
                    <td height="50px"><div class="imgBox"><img src="__PUBLIC__/site/img/images/zhifubao.png"/></div></td>
                    <td>支付宝</td>
                    <td>13813575916</td>
                    <td>户名：郭鹏</td>
                </tr>
                <tr>
                    <td height="50px"><div class="imgBox"><img src="__PUBLIC__/site/img/images/caifu.png"/></div></td>
                    <td>财付通</td>
                    <td>511734447@qq.com</td>
                    <td>户名：郭鹏</td>
                </tr>
                <tr>
                    <td width="260px"><div class="imgBox"><img src="__PUBLIC__/site/img/images/jianshe.png"/></div></td>
                    <td>建设银行</td>
                    <td>6236 6815 4000 1960 215</td>
                    <td>户名：郭鹏</td>
                </tr>
                <tr>
                    <td width="260px"><div class="imgBox"><img src="__PUBLIC__/site/img/images/gongshang.png"/></div></td>
                    <td>工商银行</td>
                    <td>6222 0212 0203 1376 032</td>
                    <td>户名：郭鹏</td>
                </tr>
			</tbody>
		</table>
	</div>
</div>
<!-------------------------------container--end------------------------------------------>

</block>
<block name='javascript'>
<script>
$(function(){
$.insideMove(1);
})
</script>
</block>